/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

.hidden {
	text-align:center:
}


	
@media only screen and (min-width: 1400px) {
   img {
	content:url(https://user-images.githubusercontent.com/31553679/30504796-a59ad942-9a25-11e7-9a02-036172ccbb5c.png);
    }
	body{
	background-image:url(https://user-images.githubusercontent.com/31553679/30504969-8f20cd7e-9a26-11e7-913f-73d3cce39ec6.gif);
}
}

@media only screen and (max-width: 1399px) {
   img {
	content:url(https://user-images.githubusercontent.com/31553679/30504790-9ee36d62-9a25-11e7-991f-bf903d490944.png);
    }
	body{
		background-image:url(https://user-images.githubusercontent.com/31553679/30504915-53651628-9a26-11e7-9de8-79a0fdf94123.gif);
}
}

@media only screen and (max-width: 1099px) {
   img {
	content:url(https://user-images.githubusercontent.com/31553679/30504783-952ce118-9a25-11e7-8c4c-88a3a9c10e10.png);
    }
	body{
		background-image:url(https://user-images.githubusercontent.com/31553679/30505120-a45130de-9a27-11e7-847e-86ce9c47417d.gif);
	}
}

@media only screen and (max-width: 999px) {
    img{
	content:url(https://user-images.githubusercontent.com/31553679/30504777-8c2ff9d8-9a25-11e7-8b55-ee065441c480.gif);
    }
}
