/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

.hidden {
	text-align:center:
}

@media only screen and (min-width: 1400px) {
   img {
	content:url(images/kitten-large.png);
    }
}

@media only screen and (max-width: 1399px) {
   img {
	content:url(images/kitten-medium.png);
    }
}

@media only screen and (max-width: 1000px) {
   img {
	content:url(images/kitten-small.png);
    }
}

@media only screen and (max-width: 999px) {
    img{
	content:url(images/kittyloaf.gif);
    }
}